# Ignorer le contenu de writable
/writable/*
# Sauf les fichiers index.html pour garder la structure
!/writable/index.html

# Ignorer spécifiquement les logs, caches, sessions, et debugbar
/writable/cache/*
!/writable/cache/index.html
/writable/logs/*
!/writable/logs/index.html
/writable/session/*
!/writable/session/index.html
/writable/debugbar/*
!/writable/debugbar/index.html
/writable/uploads/*
!/writable/uploads/index.html

# Ignorer les fichiers de base de données s'ils sont dans writable
/writable/**/*.db
/writable/**/*.sqlite
